.date {
    font-weight: 200;
    font-size: 26px
}

.temperature {
    padding: 20px 0;
    font-size: 40px;
    color: #fff;
    margin: 2px;
    
  }

  .main-icon {
    padding:0 28px;
  }
 
  .weather-temperature .units {
    font-size: 40px;
    top: -34px;
    text-decoration: none;
    color: #fff;
  }

  
  .card {
    margin: 20px;
    padding:20px;
    border: 0;
    border-radius: 10px;
    background: #005885;
  }
  .card-header {
    color: #fff;
    font-size: 20px;
    text-align: left;
  }
  .text-center {
    color: #96b6e9;
  }
  
  .weather-forecast {
    text-align: center;
    color: #5f6770;
  }
  
  .weather-forecast-date {
    font-size: 18px;
    font-weight: 600;
    color: #5f6770;
  }
  
  .forecast-icon:hover {
    background-color: #96b6e9;
    opacity: 0.9;
    border-radius: 8px;
    cursor: pointer;
  }
  .weather-forecast-temperature-min {
    opacity: 0.6;
    color: #7d8fa3;
  }
  
  h1 {
  padding: 0 20px;
  margin: 0 28px;
  font-weight: 900;
  font-size: 30px;
  line-height: 48px;
  color: #fff;
  letter-spacing: 1px;
}

ul {
    margin: 0 10px;
    padding: 0 28px;
  }
  li {
    list-style: none;
    margin: 0 10px;
    padding: 0;
    color: #fff;
    font-size: 18px;

  }

  .col-2 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }

.card-header {
  font-size: 22px;
}

  .mb-3 {
    margin: 2px;
    padding: 20px;
  }

  .ForecastDay {
    font-size: 20px;
    font-weight: 600;
    color: #6f7073;
    letter-spacing: 1px;

  }

  .Forecast-temperatures {
    color: #7d8fa3;
    font-weight: 600;
  }

  .Forecast-temperature-min {
    opacity: 0.7;
    color: #7d8fa3;
  }

